html,
body {
  text-align: center;
  background-color: #cae4f9;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin: 0 0 0 0;
}
