html,
body {
  background-color: #a1a1a1;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  margin-left: 40px;
  margin-right: 40px;
}

.hidden {
  display: none;
}

.m {
  margin-right: 20px;
}

.btn {
  margin-top: 5px;
}

.col-md-4 {
  margin: 0;
}

#wicon {
  background-color: #a1a1a1;
  margin-left: 30px;
  margin-top: 50px;
}

header {
  margin: 0 0 0 200px;
}

.cityDiv {
  background-color: cadetblue;
  height: 500px;
  width: 250px;
  position: relative;
  margin: 0 0 0 200px;
  border: 1px solid black;
  border-radius: 5%;
}

h3 {
  margin-top: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#searchCity {
  margin-right: 30px;
}

h2 {
  text-align: center;
}

.space {
  margin-top: 5px;
}

#clear{
background-color: #a1a1a1;

}

#clear:hover {
  background-color: red;
}
