html,
body {
  text-align: center;
  background-color: #cae4f9;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  margin-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#searchCity {
  margin-right: 30px;
}